{{ define "main"}}


<section class="post_list   ">
    {{ range .Paginator.Pages}}
    <article href="{{ .Permalink }}" class="single">
        <a href="{{ .Permalink }}"><img class="post_image" src="/{{.Params.featured_image}}" alt="post"></a>
        <div class="content">
            <h2 class="entry_title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <div class="post_meta">
                <div class="post_date">
                    <time>{{ dateFormat .Site.Params.dateFormat .Date}}</time>
                </div>
                
                <div class="post_author">
                    posted by: {{ .Params.author }}
                </div>
            </div>
            <p class="summary">
                {{ .Summary }}
            </p>
            <div class="post_tags">
                
                {{ range (.GetTerms "tags") }}
                   <a class="tags" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                
                    {{ end }}
                
               
            </div>

        </div>
        
        
        
    </article>

    {{ end }}

</section>
{{ end }}